.App {
  margin-left:100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
  width: 2px;
  height: 20px;
  background-color: lightcoral;
  /* color: red; */
}

.code-char {
  color: lightslategray;
}

.cursor {
  width: 2px;
  height: 20px;
  background-color: lightgray;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% { background-color: lightgray; }
  50% { background-color: lightyellow; }
  100% { background-color: lightgray; }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 2; /* ensure it's on top of other elements */
}

.overlay-text {
  color: rgb(0, 0, 0); /* or any other color */
  font-size: 5em; /* or any other size */
  text-align: center;
  animation: intro 1s linear infinite;
}

@keyframes intro {
  0% { color: lightgray; }
  50% { color: lightyellow; }
  100% { color: lightgray; }
}