span.current {
  background-color: #444;
  box-shadow: 0 0 2px 0px #555;
}

span.current.error,
span.error {
  background-color: #744;
  box-shadow: 0 0 2px 0px #855;
}

.current.enter::before,
.error.enter::before {
  content: '\2936';
}

.current.tab::before,
.error.tab::before {
  content: '\2192';
  text-align: center;
}