.error {
  width: 2px;
  height: 20px;
  background-color: lightcoral;
  /* color: red; */
}

.current {
  width: 2px;
  height: 20px;
  background-color: lightgray;
  animation: blink 0.8s linear infinite;
}

@keyframes blink {
  0% {
    background-color: rgba(155, 155, 155, 0.9);
  }
  100% {
    background-color: rgba(155, 155, 155, 0);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 2; /* ensure it's on top of other elements */
}

.overlay-text {
  color: rgb(0, 0, 0); /* or any other color */
  font-size: 5em; /* or any other size */
  text-align: center;
  animation: intro 1s linear infinite;
}

@keyframes intro {
  0% {
    color: lightgray;
  }
  50% {
    color: lightyellow;
  }
  100% {
    color: lightgray;
  }
}

#debug {
  margin-top: 200px;
  background: white;
  padding: 20px;
  color: black;
}

code[class*='language-'],
pre[class*='language-'] {
  text-shadow: none !important;
}
.token.operator {
  background: none !important;
}

.code-gym {
  font-family: 'Source Code Pro', monospace !important;
  padding: 20px 0;
  min-height: 100vh;
}

.code-gym.dark {
  background: #000;
  color: #efefef;
}
.code-gym.light {
  background: #efefef;
  color: #151515;
}

.stats-container {
  padding: 0;
  margin: 0;
}

.code-container {
  height: auto;
  min-height: 200px;
  /* padding: 20px 0; */
}

.code-container pre {
  border-radius: 10px;
  /* border: 0.3em solid hsl(0, 0%, 33%); */
  position: relative;
}

code.gamestate-ready {
  filter: blur(5px);
}

pre.gamestate-ready::after {
  /* backdrop-filter: blur(10px); */
  content: 'Press Enter to Start';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-weight: 900;
  letter-spacing: -5px;
}

/* Override Prismjs <pre> css */
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: none;
}

.code-gym.light select.form-select {
  padding-right: 1em;
}
.code-gym.dark select.form-select {
  padding-right: 1em;
  background-color: #151515;
  border: 1px solid #202020;
  color: #efefef;
}

.code-gym input[type='file']::file-selector-button {
  display: none;
}

.code-gym.dark input#file-upload.form-control {
  background-color: #151515;
  border: 1px solid #202020;
  color: #efefef;
}

.code-gym.dark span.input-group-text {
  background-color: #494949;
  color: #efefef;
  font-weight: bold;
  border: 1px solid #202020;
}

.code-navbar {
  border-radius: 10px;
  padding: 10px;
}

.code-gym.dark .code-navbar {
  background: #1e1e1e;
}
.code-gym.light .code-navbar {
  background: #e5e2df;
}

.code-navbar-logo {
  font-weight: 800;
  font-size: 1.4em;
  line-height: 110%;
}

:root {
  --setting-items-margin: 10px;
}

.code-navbar-settings {
  flex-basis: 80% !important;
}

.code-navbar-settings .row {
  justify-content: end;
  align-items: center;
  height: 100%;
}

.code-navbar-settings .col {
  flex-grow: 0 !important;
  cursor: pointer;
}

.code-navbar-file {
  flex-basis: 180px !important;
  margin-right: var(--setting-items-margin);
}
.code-navbar-font {
  flex-basis: 105px !important;
  margin-right: var(--setting-items-margin);
}
.code-navbar-theme {
  flex-basis: 155px !important;
  margin-right: var(--setting-items-margin);
}
.code-navbar-language {
  flex-basis: 170px !important;
  margin-right: var(--setting-items-margin);
}
.code-navbar-ui {
  flex-basis: 35px !important;
  margin-right: 10px;
}
.code-navbar-ui button {
  background-color: #494949;
  color: #efefef;
  font-weight: bold;
  border: 1px solid #202020;
  padding-top: 6px;
  padding-bottom: 2px;
}

.current.enter::before,
.error.enter::before {
  content: '\2936';
}

.current.tab::before,
.error.tab::before {
  content: '\2192';
  text-align: center;
}

.stats-timer {
  font-size: 5rem;
  font-weight: 900;
  color: #efefef;
  letter-spacing: -5px;
  line-height: 100%;
}
.stats-wpm {
  font-size: 2rem;
  font-weight: 900;
  color: #efefef;
  margin-right: 20px;
}
.stats-accuracy {
  font-size: 2rem;
  font-weight: 900;
  color: #efefef;
}

/* Style "press Esc to stop" */
.info-stop {
  text-align: center;
}