body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-color: #000 !important;
  color: #c6c6c6 !important;
}

#toolbar {
  width: 870px;
  background-color: #151515;
  padding: 0.5em 1em;
  border-radius: 10px;
  margin: 2em auto;

  display: flex;
  justify-content: space-between;
}

#toolbar .logo {
  font-weight: bold;
}

.selection-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.selection-container > * {
  margin-left: 24px;
}

#zen-mode-toggle {
  width: 24px;
  height: 24px;
  background-image: url('../public/zen-mode-toggle.svg');
}

#dark-mode-toggle {
  width: 24px;
  height: 24px;
  background-image: url('../public/dark-mode-toggle.svg');
}
.dropdown-toggle {
  display: flex !important;
  background: none !important;
  border: none !important;
}

.dropdown-toggle::after {
  border: none !important;
  margin: 0 !important;
  vertical-align: 0 !important;
  margin-left: 6px !important;
  width: 24px;
  height: 24px;
  background-image: url('../public/chevrondown-1.svg');
}

#stats {
  width: 870px;
  background-color: #151515;
  padding: 1em;
  border-radius: 10px;
  margin: 2em auto;
  text-align: center;
}

#stats .timer {
  font-size: 80px;
  font-weight: bold;
}

#stats .wpm-acc {
  font-size: 17px;
  display: flex;
  justify-content: center;
}

#stats .wpm {
  margin-right: 24px;
}

#code-area {
  width: 870px;
  background-color: #151515;
  /* padding: 1em 1.5em; */
  border-radius: 10px;
  margin: 2em auto;
}

/* Override Prismjs <pre> css */
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: none;
}
